In [9]:
import pandas as pd

In [10]:
df_world = pd.read_csv("data/world_cups.csv", index_col=0)
df_pro = pd.read_csv("data/pro_leagues.csv", index_col=0)

In [11]:
# display(df_world.head())
# display(df_pro.head())

In [12]:
df = pd.concat([df_pro, df_world], axis=0)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 0 to 55
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SQUAD          68 non-null     object
 1   MISC_CRDY      68 non-null     int64
 2   MISC_CRDR      68 non-null     int64
 3   MISC_FLS       68 non-null     int64
 4   MISC_RECOV     68 non-null     int64
 5   SEASON         68 non-null     object
 6   SHOOT_SH       56 non-null     float64
 7   SHOOT_DIST     56 non-null     float64
 8   PASS_TOTDIST   56 non-null     float64
 9   PASS_PRGDIST   56 non-null     float64
 10  PASS_ATT       56 non-null     float64
 11  PASS_ATT1      56 non-null     float64
 12  PASS_ATT2      56 non-null     float64
 13  PASS_ATT3      56 non-null     float64
 14  PASS_KP        56 non-null     float64
 15  PT_CRS         56 non-null     float64
 16  PT_CK          56 non-null     float64
 17  GSC_PASSLIVE   56 non-null     float64
 18  GSC_PASSLIVE1  56 non-null     float64
 19  GSC_PASSDEAD   56 non-null     float64
 20  GSC_PASSDEAD1  56 non-null     float64
 21  GSC_TO         56 non-null     float64
 22  GSC_TO1        56 non-null     float64
 23  GSC_SH         56 non-null     float64
 24  GSC_SH1        56 non-null     float64
 25  GSC_FLD        56 non-null     float64
 26  GSC_FLD1       56 non-null     float64
 27  GSC_DEF        56 non-null     float64
 28  GSC_DEF1       56 non-null     float64
 29  DA_TKL         56 non-null     float64
 30  DA_TKL1        56 non-null     float64
 31  DA_ATT         56 non-null     float64
 32  DA_BLOCKS      56 non-null     float64
 33  DA_INT         56 non-null     float64
 34  POSS_POSS      56 non-null     float64
dtypes: float64(29), int64(4), object(2)
memory usage: 19.1+ KB

In [15]:
display(df.head())

,SQUAD,MISC_CRDY,MISC_CRDR,MISC_FLS,MISC_RECOV,SEASON,SHOOT_SH,SHOOT_DIST,PASS_TOTDIST,PASS_PRGDIST,...,GSC_FLD,GSC_FLD1,GSC_DEF,GSC_DEF1,DA_TKL,DA_TKL1,DA_ATT,DA_BLOCKS,DA_INT,POSS_POSS
51,za South Africa,7,1,27,180,2019 WWC,16.0,22.8,13389.0,5945.0,...,1.0,0.0,1.0,0.0,50.0,20.0,41.0,36.0,55.0,39.0
52,es Spain,1,0,53,288,2019 WWC,69.0,19.5,29869.0,11657.0,...,5.0,1.0,1.0,0.0,79.0,27.0,58.0,38.0,41.0,60.5
53,se Sweden,2,0,88,480,2019 WWC,104.0,16.0,41447.0,17785.0,...,9.0,1.0,6.0,0.0,131.0,50.0,87.0,76.0,66.0,48.7
54,th Thailand,5,0,20,169,2019 WWC,12.0,22.0,8920.0,4718.0,...,0.0,0.0,0.0,0.0,82.0,37.0,86.0,26.0,50.0,30.3
55,us USA,0,0,56,486,2019 WWC,125.0,16.0,48528.0,18946.0,...,13.0,5.0,3.0,1.0,117.0,41.0,87.0,59.0,79.0,56.4

In [14]:
df.to_csv("data/soccer_join.csv")