In [1]:
import pandas as pd

### Read in World Cup and Professional League Data

In [2]:
df_world = pd.read_csv("data/world_cups.csv", index_col=0)
df_pro = pd.read_csv("data/pro_leagues.csv", index_col=0)

In [3]:
# display(df_world.head())
# display(df_pro.head())

### Join the DataFrames

In [4]:
df = pd.concat([df_pro, df_world], axis=0)

### Data Quality Testing

In [5]:
list(df.SEASON.unique())

['2022-2023 Liga',
 '2022 NWSL',
 '2023 NWSL',
 '2022-2023 WSL',
 '2021-2022 WSL',
 '2023 WWC',
 '2019 WWC']

In [6]:
list(df.SQUAD.unique())

['Alavés',
 'Alhama',
 'Athletic Club',
 'Atlético Madrid',
 'Barcelona',
 'Levante',
 'Levante Planas',
 'Madrid CFF',
 'Real Betis',
 'Real Madrid',
 'Real Sociedad',
 'Sevilla',
 'Sporting Huelva',
 'UDG Tenerife',
 'Valencia',
 'Villarreal',
 'Angel City',
 'Courage',
 'Current',
 'Dash',
 'Gotham FC',
 'Louisville',
 'Pride',
 'Red Stars',
 'Reign',
 'Spirit',
 'Thorns',
 'Wave',
 'Arsenal',
 'Aston Villa',
 'Brighton',
 'Chelsea',
 'Everton',
 'Leicester City',
 'Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Reading',
 'Tottenham',
 'West Ham',
 'Birmingham City',
 'ar Argentina',
 'au Australia',
 'br Brazil',
 'ca Canada',
 'cn China PR',
 'co Colombia',
 'cr Costa Rica',
 'dk Denmark',
 'eng England',
 'fr France',
 'de Germany',
 'ht Haiti',
 'it Italy',
 'jm Jamaica',
 'jp Japan',
 'kr Korea Republic',
 'ma Morocco',
 'nl Netherlands',
 'nz New Zealand',
 'ng Nigeria',
 'no Norway',
 'pa Panama',
 'ph Philippines',
 'pt Portugal',
 'ie Rep. of Ireland',
 'za South Africa',
 'es Spain',
 'se Sweden',
 'ch Switzerland',
 'us USA',
 'vn Vietnam',
 'zm Zambia',
 'cm Cameroon',
 'cl Chile',
 'kr Korea Rep',
 'sct Scotland',
 'th Thailand']

In [7]:
list(df.columns)

['SQUAD',
 'SHOOT_SH',
 'SHOOT_DIST',
 'SEASON',
 'PASS_TOTDIST',
 'PASS_PRGDIST',
 'PASS_ATT',
 'PASS_ATT1',
 'PASS_ATT2',
 'PASS_ATT3',
 'PASS_KP',
 'PT_CRS',
 'PT_CK',
 'GSC_PASSLIVE',
 'GSC_PASSLIVE1',
 'GSC_PASSDEAD',
 'GSC_PASSDEAD1',
 'GSC_TO',
 'GSC_TO1',
 'GSC_SH',
 'GSC_SH1',
 'GSC_FLD',
 'GSC_FLD1',
 'GSC_DEF',
 'GSC_DEF1',
 'DA_TKL',
 'DA_TKL1',
 'DA_ATT',
 'DA_BLOCKS',
 'DA_INT',
 'POSS_POSS',
 'MISC_CRDY',
 'MISC_CRDR',
 'MISC_FLS',
 'MISC_RECOV']

In [8]:
display(df)

,SQUAD,SHOOT_SH,SHOOT_DIST,SEASON,PASS_TOTDIST,PASS_PRGDIST,PASS_ATT,PASS_ATT1,PASS_ATT2,PASS_ATT3,...,DA_TKL,DA_TKL1,DA_ATT,DA_BLOCKS,DA_INT,POSS_POSS,MISC_CRDY,MISC_CRDR,MISC_FLS,MISC_RECOV
0,Alavés,286,18.4,2022-2023 Liga,141213,66482,10702,3176,4315,2619,...,491,198,381,322,330,44.6,59,1,311,1575
1,Alhama,304,20.8,2022-2023 Liga,99966,56452,9076,2552,3199,2796,...,746,313,630,420,461,39.6,61,4,383,1782
2,Athletic Club,325,20.4,2022-2023 Liga,167473,71668,12319,3779,5017,2881,...,573,225,500,331,375,47.4,37,1,279,1908
3,Atlético Madrid,387,17.5,2022-2023 Liga,223772,88661,15037,5270,6566,2505,...,506,162,320,304,371,56.3,44,0,282,1807
4,Barcelona,728,15.3,2022-2023 Liga,291975,107567,20582,9281,8124,2144,...,472,159,269,244,280,70.4,31,0,258,1921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,za South Africa,16,22.8,2019 WWC,13389,5945,1113,386,432,235,...,50,20,41,36,55,39.0,7,1,27,180
52,es Spain,69,19.5,2019 WWC,29869,11657,2172,854,848,373,...,79,27,58,38,41,60.5,1,0,53,288
53,se Sweden,104,16.0,2019 WWC,41447,17785,3268,1340,1244,507,...,131,50,87,76,66,48.7,2,0,88,480
54,th Thailand,12,22.0,2019 WWC,8920,4718,870,324,278,208,...,82,37,86,26,50,30.3,5,0,20,169
55,us USA,125,16.0,2019 WWC,48528,18946,3599,1486,1419,517,...,117,41,87,59,79,56.4,0,0,56,486

In [9]:
df.to_csv("data/soccer_join.csv")